@tailwind base;
@tailwind components;
@tailwind utilities;

.errorPage {
  width: 60%;
  margin: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorPage div {
  text-align: center;
}

.errorPage div .icon {
  height: 20rem;
  width: 20rem;
}
